<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /lab1/

    # Redirect requests to index.php except for existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>